/*---
title:   Mixin
name:    base_typography_mixin
section: base_typography
---

```css
base-typography-whitespace()
```
```css
.bar {
  @include base-typography-whitespace();
}
```
*/
@mixin base-typography-whitespace() {
  * + & {
    margin-top: map-get($spacing, m);
  }
}