/*---
title:   Typography
name:    base_typography
section: Base
---

Font sizes must be set in em or rem - use em values for text elements and rem
values for components (if necessary). Read more about this from
[Chris Coyier - Font Size Idea: px at the Root, rem for Components, em for Text
Elements](https://css-tricks.com/rems-ems/).  
Other allowed measurement units are vw, vh and % - basically all relative units
are allowed.  
Pixel (px) values are only allowed for hairline borders - this is because
there is no other reliable way to display 1px wide lines with relative units.
*/
