/**
 * Typography
 *
 * Font sizes must be set in em or rem - use em values for text elements
 * and rem values for components.<br />
 * Read more about this from [Chris Coyier - Font Size Idea:
 * px at the Root, rem for Components, em for Text Elements](https://css-tricks.com/rems-ems/)<br />
 * Other allowed measurement units are vw, vh and % - basically all relative
 * units are allowed.
 *
 * Pixel (px) values are only allowed for hairline borders - this is because
 * there is no other reliable way to display 1px wide lines with relative units.
 *
 * @level X.X.
 */
// Variables
$base-typography-responsive:   true !default;
$base-semantic-headline-class: false !default;
$base-semantic-anchor-class:   false !default;



// Basic font styles
html {
  font-size: strip-unit($font-base-size) / (16 / 100) * 1%;
  line-height: strip-unit($font-base-line-height / $font-base-size);
  @if $base-typography-responsive {
    @media (max-width: $breakpoint-max-m) {
      font-size: strip-unit($font-base-size) / (16 / 87.5) * 1%;
    }
    @media (max-width: $breakpoint-max-s) {
      font-size: strip-unit($font-base-size) / (16 / 75) * 1%;
    }
  }
}

html,
button,
input,
select,
textarea {
  color: $font-base-color;
  font-family: $font-a-family;
}



/**
 * Headlines
 *
 * @level X.X.X.
 * @markup
 * <h1>Headline 1</h1>
 * <h2>Headline 2</h2>
 * <h3>Headline 3</h3>
 * <h4>Headline 4</h4>
 * <h5>Headline 5</h5>
 * <h6>Headline 6</h6>
 */
h1,
h2,
h3,
h4 {
  color: $cs-a;
  font-weight: $font-b-weight-bold;
  font-family: $font-b-family;
  line-height: 1.35;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-weight: $font-a-weight-bold;
  font-size: $font-size-h5;
  font-family: $font-a-family;
}

h6 {
  font-weight: $font-a-weight-normal;
  font-size: $font-size-h6;
  font-family: $font-a-family;
}



@if $base-semantic-headline-class {
  /**
   * Semantic headline classes
   *
   * .h1-.h6 classes should be used to maintain the semantically appropriate heading levels - NOT for use on non-headings.
   *
   * @level X.X.X.X.
   * @markup
   * <h1 class="h2">h1 looking like h2</h1>
   * <h2 class="h3">h2 looking like h3</h1>
   * <h3 class="h4">h3 looking like h4</h1>
   * <h4 class="h5">h4 looking like h5</h1>
   * <h5 class="h6">h5 looking like h6</h1>
   */
  .h1 {
    @extend h1;
  }
  .h2 {
    @extend h2;
  }
  .h3 {
    @extend h3;
  }
  .h4 {
    @extend h4;
  }
  .h5 {
    @extend h5;
  }
  .h6 {
    @extend h6;
  }
}



/**
 * Anchor
 *
 * @level X.X.X.
 * @markup
 * <a href="#">readmore...</a>
 * <a href="#" class="a-rev">reversed hover behaviour</a>
 */
a {
  color: $a-color;
  text-decoration: $a-text-decoration;
  cursor: pointer;
  &:visited {
    color: $a-color-visited;
  }
  &:hover,
  &:focus {
    color: $a-color-hover;
    text-decoration: $a-text-decoration-hover;
  }
}

.a-rev {
  text-decoration: $a-text-decoration-hover;
  &:hover,
  &:focus {
    text-decoration: $a-text-decoration;
  }
}



@if $base-semantic-anchor-class {
  /**
   * Semantic anchor class
   *
   * .a class can be used to create a fake link inside of a block link.
   *
   * @level X.X.X.X.
   * @markup
   * <span class="a">readmore...</span>
   */
  .a {
    @extend a;
  }
}



/**
 * Whitespace
 *
 * @level X.X.X.
 * @markup
 * <h2>Lorem Ipsum</h2>
 * <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
 * tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
 * <ul>
 *   <li>Lorem Ipsum dolor</li>
 *   <li>Lorem Ipsum dolor</li>
 * </ul>
 * <h3>Lorem Ipsum</h3>
 * <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
 * tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
 */
h1,
h2,
h3,
h4,
h5,
h6,
h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6,
p,
ul,
ol,
dl,
pre,
form,
table,
figure,
address,
fieldset,
blockquote {
  margin: 0;
}

* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
  margin-top: 1em;
}

* + p,
* + ul,
* + ol,
* + dl,
* + img,
* + pre,
* + form,
* + table,
* + figure,
* + address,
* + fieldset,
* + blockquote {
  margin-top: $spacing-m;
}

ul,
ol,
dl {
  padding-left: 1.5em;
}

// No margin top for nested lists
li {
  ul,
  ol,
  dl {
    margin-top: 0;
  }
}

// No margin top for nested tables
table {
  table {
    margin-top: 0;
  }
}

// Normalize default font related tags
b,
strong {
  font-weight: $font-a-weight-bold;
}

small {
  font-size: $font-size-s;
}

// Better img behaviour
img {
  display: inline-block;
}
